
body {
  font-family: 'Titillium Web', Arial, sans-serif;
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0;	/*	on HTML documents */
	font-size: 16px;
  margin-top: 110px;
  background-color: #F4F3F3;
}

a {
  color: #F26730;
  text-decoration: none;
}

a:hover {
  color: #F26730;
  text-decoration: none;
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 60px;
  text-align: center;
  padding-top: 50px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(33, 67, 89, 0.8);
  color: rgba(1, 1, 1, 0.8);
  z-index: 999;
}

#navigation a {
	font-size: 24px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

#navigation a:hover {
  color: #90CF1D;
}

#content img {
	padding-top: 20px;
	padding-bottom: 30px;
}

#navigation a.logo {
  font-size: 40px;
  font-weight: bold;
  color: #F4F3F3;
}

.logo .char1 {
}

.logo .char6 {
  color: #90CF1D;
  font-size: 28px;
  position: relative; 
  top: -15px;
  font-weight: bold;
}

.slogan {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  margin: 0;
  color: #F26730;
}

.subslogan {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 50px;
  color: #000000;
}

.span4 h4 {
  color: #F26730;
}

.anchor {
  padding-top: 110px;
}

h2 {
  color: #F26730; 
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pcenter {
  text-align: center;
}

.pright {
  text-align: right;
}

.footer {
  background-color: rgba(33, 67, 89, 1);
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #F4F3F3;
}

.footer a {
  color: #F4F3F3;
  text-decoration: none;
}

.footer a:hover {
  color: #90CF1D;
  text-decoration: none;
}

.plan {
  background-color: rgba(148, 196, 70, 0.3);
  text-align: center;
  padding: 0px 5px 5px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.plan h1 {
  border-bottom: 1px solid #94C446;
  padding: 3px;
  font-size: 22px;
}

.plan h2 {
  font-size: 30px;
}

.promocao {
  float: right;
  position: relative;
  top: -110px;
  background-image: url(../img/promo.png);
  width: 200px;
  height: 200px;
  z-index: 9999;
}

.promocao .promo-txt {
  text-align: center;
  margin-top: 90px;
  font-size: 36px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.promo-link {
  color: #1B4659;
}

@media screen and (max-width: 950px) {
  #navigation a {
    font-size: 23px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #navigation a.logo {
    font-size: 35px;
  }

  .logo .char6 {
    font-size: 18px;
    top: -10px;
  }

  .img-project {
    margin-bottom: 10px;
  }

  .span4 {
    margin-bottom: 20px;
  }

  .span6 {
    margin-bottom: 20px; 
  }

  .promocao {
    float: none;
    position: static;
    margin-top: 140px;
    background-image: none;
    background-color: #ffcc00;
    width: auto;
    height: 50px;
  }

  .promocao .promo-txt {
    text-align: center;
    font-size: 36px;
    padding-top: 12px;  
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  .modal { 
    position: fixed; 
    top: 3%; 
    right: 3%; 
    left: 3%; 
    width: auto; 
    margin: 0; 
  }
  .modal-body { 
    height: 60%; 
    max-height: 350px; 
    padding: 15px; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
   }
}

@media screen and (max-width: 500px) {
  .container {
    width: auto;
    padding: 10px;
  }

  #navigation a {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #navigation a.logo {
    font-size: 20px;
  }

  .logo .char6 {
    font-size: 14px;
    top: -10px;
  }
}
